.page {
  background-color: $site-background;
  height: 101vh;

  &__inner {
    max-width: 1280px;
    margin: auto;
    position: relative;
    background-color: $color-light-xl;

    & > *:nth-child(2n + 1) {
      background-color: transparent;
    }

    & > *:nth-child(2n) {
      background-color: $color-light-l;
    }
  }
}