.heading {
  font-family: $ff-primary;
  font-weight: normal;
  color: $color-dark-l;

  &--2 {
    line-height: 1.3;
    letter-spacing: 0;
    font-size: 44px;
  }

  &--3 {
    line-height: 1.3;
    letter-spacing: 0.06em;
    font-size: 35px;
  
    @media screen and (max-width: 767px) {
      font-size: 25px;
    }
  }

  &--4 {
    line-height: 1.15;
    letter-spacing: 0.06em;
    font-size: 20px;
  }

  &--5 {
    line-height: 1.1;
    letter-spacing: 0.06em;
    font-size: 15px;
  }
}

.paragraph {
  font-family: $ff-secondary;
  font-weight: normal;
  color: $color-dark-xl;

  &--l {
    line-height: 1.6;
    font-size: 15px;
  }

  &--s {
    font-style: italic;
    line-height: 1.5;
    font-size: 12px;
    color: $color-dark-m;
  }
}