*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.page__inner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: minmax(120px, auto) repeat(6, 100px);

  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}

.calculator__output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.75);
  word-wrap: break-word;
  word-break: break-all;
}

.calculator__accumulator {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
}

.calculator__expression {
  color: #FFFFFF;
  font-size: 2.25em;
}

.calculator__button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: 'Varela Round', sans-serif;
  font-size: 2em;
  border: 1px solid #FFFFFF;
  outline: none;
}

.calculator__button:hover {
  background-color: rgba(255, 255, 255, 0.90);
}

.calculator__button--spancols--2 {
  grid-column: span 2;
}

.calculator__button--spanrows--2 {
  grid-row: span 2;
}